<template>
  <div>
    <Header />
    <div v-if="$route.path === '/'">
      <MainVisual />
    </div>
    <main>
      <div class="container">
        <Message />
        <RouterView />
      </div>
    </main>
    <Footer />
  </div>
</template>

<script>
import Message from './components/Message.vue';
import Header from './components/Header.vue';
import MainVisual from './components/MainVisual.vue';
import Footer from './components/Footer.vue';
import { NOT_FOUND, UNAUTHORIZED, INTERNAL_SERVER_ERROR } from './util';
import Axios from 'axios';

export default {
  components: {
    Message,
    Header,
    MainVisual,
    Footer
  },
  computed: {
    errorCode() {
      return this.$store.state.error.code;
    }
  },
  watch: {
    errorCode: {
      async handler(val) {
        if (val === INTERNAL_SERVER_ERROR) {
          this.$router.push('/500');
        } else if (val === UNAUTHORIZED) {
          // トークンをリフレッシュ
          await Axios.get('/api/refresh-token');
          // ストアのuserをクリア
          this.$store.commit('auth/setUser', null);
          // ログイン画面へ
          this.$router.push('/login');
        } else if (val === NOT_FOUND) {
          this.$router.push('/not-found');
        }
      },
      immediate: true
    },
    $route() {
      this.$store.commit('error/setCode', null);
    }
  }
};
</script>
