$breakpoints: (
  'sm': 'screen and (max-width: 321px)',
  'md': 'screen and (max-width: 480px)',
  'mdAndMax': 'screen and (max-width: 768px) and (min-width: 481px)',
  'mdMax': 'screen and (max-width: 768px)',
) !default;

// media Query usage
//* Mediaqueries *
// @include mq(mdMax) {}
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//clearfix: @include clearfix;
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
