/* -----------------------------------------------------*

utillity

*-------------------------------------------------------*/

/* Clear */
.clear {
  clear: both;
}

.floatNon {
  float: none;
}

/* no display */
.display-none {
  display: none !important;
}

/* display Block */
// .is-active{
//   display: block;
// }


/* margin */
.m0 {
  margin: 0 !important;
}

.m10 {
  margin: 10px !important;
}

.m20 {
  margin: 20px !important;
}

.m0a {
  margin: 0 auto;
}

.m10a {
  margin: 10px auto;
}

.m20a {
  margin: 20px auto;
}

/* margin-top */
.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

/* margin-left */
.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

/* margin-right */
.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

/* margin-botttom */
.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

/* padding */
.p0 {
  padding: 0 !important;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

/* padding-top */
.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

/* padding-left */
.pl0 {
  padding-left: 0 !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

/* padding-right */
.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

/* padding-bottom */
.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 30px !important;
}

.pb25 {
  padding-bottom: 35px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

@media screen and (max-width: 480px) {

  /* margin-top */
  .mt30 {
    margin-top: 15px !important;
  }

  .mt35 {
    margin-top: 17px !important;
  }

  .mt40 {
    margin-top: 20px !important;
  }

  .mt45 {
    margin-top: 22px !important;
  }

  .mt50 {
    margin-top: 25px !important;
  }

  /* margin-botttom */
  .mb30 {
    margin-bottom: 15px !important;
  }

  .mb35 {
    margin-bottom: 17px !important;
  }

  .mb40 {
    margin-bottom: 20px !important;
  }

  .mb45 {
    margin-bottom: 22px !important;
  }

  .mb50 {
    margin-bottom: 25px !important;
  }

  /* padding-top */
  .pt30 {
    padding-top: 15px !important;
  }

  .pt35 {
    padding-top: 17px !important;
  }

  .pt40 {
    padding-top: 20px !important;
  }

  .pt45 {
    padding-top: 22px !important;
  }

  .pt50 {
    padding-top: 25px !important;
  }

  /* padding-bottom */
  .pb30 {
    padding-bottom: 15px !important;
  }

  .pb35 {
    padding-bottom: 17px !important;
  }

  .pb40 {
    padding-bottom: 20px !important;
  }

  .pb45 {
    padding-bottom: 22px !important;
  }

  .pb50 {
    padding-bottom: 25px !important;
  }
}

/* text-align */
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* vertical-align */
.vertical-top {
  vertical-align: top !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

/* font-size */
.fontLL{
  font-size: 18px;
}
.fontL{
  font-size: 16px;
}
.fontM{
  font-size: 14px;
}
.fonts{
  font-size: 12px;
}
