
// Typography
$font-family-sans-serif:  "cronos-pro", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$fontAwesom: "Font Awesome 5 Free";

// Colors
$thema-main: #29a9c9;
$thema-sub: #a3a7a8;
$thema-sub:"";

$btn-primary: #c2af0b;
$btn-submit: #196274;
$btn-delete: #bb6285;

$border-color:#a3a7a8;

$link:#1d8fac;

$base-font:#1a1b1b;

// icon
$faves-color: #30b5d6;

// error
$error-color: #bb6285;

// Achromatic colors
$colorWhite01: #fff;
$colorBlack01: #000;
$colorBlack02: #222;
$colorGray01: #eee;
$colorGray02: #ccc;
$colorGray03: #999;
$colorGray04: #888;
$colorGray05: #666;
$colorGray06: #555;
$colorGray07: #444;
$colorGray08: #333;
$colorGray09: #dedede;
$colorGray10: #f1f1f1;
