.button {
  border: 1px solid $colorGray03;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.2rem;
  color: $colorGray04;
  outline: none;
  padding: .5rem .75rem;
  text-decoration: none;
  transition:
    border-color 300ms ease-in-out,
    color 300ms ease-in-out;

  &:hover {
    opacity: .7;
  }

  .icon {
    margin-right: .5em;
    color: $colorGray04;
  }

  &--signUp{
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #{$btn-primary};
    color: $colorWhite01;
    &:link,
    &:visited,
    &:hover{
      color:  $colorWhite01;
    }
  }

  &__white{
  border: 1px solid $colorWhite01;
  color: $colorWhite01;
    .icon {
      color: $colorWhite01;
      font-size: 13px;
    }
    &:link,
    &:visited,
    &:hover{
      color:  $colorWhite01;
    }
  }

  &--link {
    border: 0;
  }

  &--inverse {
    background-color: $btn-primary;
    border: none;
    color: $colorWhite01;
    transition: opacity 300ms ease-in-out;

    &:hover {
      color: $colorWhite01;
      opacity: .8;
    }
  }

  &--submit{
    background-color: $btn-submit;
  }

  &--fluid {
    width: 100%;
  }

  &--like {
    padding-left: 10px;
    &:before{
      content: "\f004";
      font-family: $fontAwesom;
      font-weight: 900;
      font-size: 14px;
      font-size: 1.4rem;
      display: inline-block;
      color: $faves-color;
    }
  }

  &--liked {
    background: $faves-color;
    border-color: $faves-color;
    color: $colorWhite01;

    &:before {
      content: "\f004";
      font-family: $fontAwesom;
      font-weight: 900;
      font-size: 14px;
      font-size: 1.4rem;
      display: inline-block;
      color: $colorWhite01;
    }

    &:hover {
      border-color: $faves-color;
      color: $colorWhite01;
      opacity: .8;
    }
  }

  &--downLoad {
    padding-left: 10px;
    color: $colorGray07;
    &:before {
      content: "\f019";
      font-family: $fontAwesom;
      font-weight: 900;
      font-size: 14px;
      font-size: 1.4rem;
      display: inline-block;
      color: $colorGray05;
    }
    &:link{
      color: $colorGray07;
    }
    &:hover {
      opacity: .8;
      color: $colorGray07;
    }
  }
}

