#footer {
  align-items: center;
  background-color: #212124;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-flow: row nowrap;
  .footer{
    &--module{
      text-align: right;
      width: 49%;
      &Item{
        display: inline-block;
        padding: 0.5rem 0.2rem;
        margin: 0 5px;
        &:last-child{
          margin: 0 0 0 5px;
        }
      }
    }
    &--feuture{
      width: 49%;
      text-align: left;
      &Item{
        display: inline-block;
        margin: 0 5px;
        &:last-child{
          margin: 0 0 0 5px;
        }
      }
      &Link{
        &:link,
        &:visited,
        &:hover{
          color: #fff;
        }
        &:hover{
          opacity: .7;
        }
      }
      .icon{
        margin-right: 0.5rem;
      }
    }
    //* Mediaqueries max width 768 *
    @include mq(mdMax) {
      &--module{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &--feuture{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
      }

    }
  }
   //* Mediaqueries max width 768 *
  @include mq(mdMax) {
    flex-flow: column wrap;
    justify-content: center;
  }
}
