.form {
  &List{
    width: 100%;
    &--item{
      margin-top: 6rem;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  &__inputItem {
    border-bottom: 1px solid $colorGray04;
    font-size: 15px;
    font-size: 1.5rem;
    padding: .5em .75em;
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  &--textArea{
    box-shadow: inset 0 0 0 1px $colorGray02;
    font-size: 13px;
    font-size: 1.3rem;
    padding: .5em .75em;
    width: 100%;
    height: 5rem;
    border-radius: 3px;
    outline: none;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      box-shadow: inset 0 0 0 1px $thema-main;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &__label {
    display: block;
    font-size: 17px;
    font-size: 1.7rem;
    margin-bottom: .5rem;
  }

  &__output {
    display: table;
    width: 100%;
    height: 422px;
    text-align: center;
    margin: 1rem auto;
    overflow: hidden;
    border: 1px solid $colorGray01;
    &__Item {
      display: table-cell;
      width: 100%;
      height: 420px;
      padding: 10px;
      line-height: 0;
      box-sizing: border-box;
      text-align: center;
      vertical-align: middle;
    }

    //* Mediaqueries max width 480 *
    @include mq(md) {
      height: calc(50vw + 2px);
        &__Item {
          height: 50vw;
        }
    }
  }

  &__button {
    margin-top: 3rem;
    text-align: right;
  }

  &__commentBtn{
    margin-top: 1rem;
  }

  // file upload
  &--fileUp{
    @extend .button;
    border: 1px solid $colorGray03;
    padding: 10px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: $base-font;
  }

  // get name of upload file
  &--fileName{
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: $base-font;
  }

}
