.grid {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  &__item {
    width: calc((100% / 3) - 2rem);
    margin: 0 1rem 2rem;
    &:last-child{
      margin: 0 auto 2rem 1rem;
    }
  }
}
