// ***------------------------ header
#header {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(21, 21, 23, 0.9);

  .header--hedding {
    display: inline-block;
    width: 29%;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.1;
    font-weight: 300;
    & a{
      color: #{$thema-main};
    }
    //* Mediaqueries max width 768 *
    @include mq(mdMax) {
      width: 100%;
      text-align: center;
    }
    //* Mediaqueries max width 480 *
    @include mq(sm) {
      font-size: 22px;
      font-size: 2.2rem;
    }
  }

  .header--module{
    display: inline-block;
    width: 70%;
    text-align: right;
    &Item{
      display: inline-block;
      color: #fff;
      padding: .5rem .2rem;
      margin-left: 5px;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      font-size: 1.4rem;
      & a{
        color: #fff;
      }
      & a:hover{
        opacity: 0.8;
      }
    }
    &Item__btn{
      margin-left: 0;
      padding: 0;
      height: 30px;
    }
    //* Mediaqueries max width 768 *
    @include mq(mdMax) {
      width: 100%;
      text-align: center;
      padding-top: 1rem;
    }
  }
  .header--UpBtn{
    &::before{
      display: inline-block;
      content: "\f382";
      font-family: $fontAwesom;
      font-weight: 900;
      font-size: 18px;
      font-size: 1.8rem;
      color: $colorWhite01;
    }
  }
  @include clearfix
}

// ***------------------------ Animetion setting
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
