#mainVisual {
  width: 100%;
  height: 45vw;
  display: block;
  overflow: hidden;
  .mainVisual {
    &--wrap {
      display: block;
      width: 100%;
      height: 100%;
    }
    &--wrapIn {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      color: #fff;
      .mainVisual--author{
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: .5rem;
        text-align: center;
        font-size: 10px;
        font-size: 1rem;
      }
    }
    &--img {
      width: 100%;
      max-width: 100%;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
  }
}
