.message {
  background: $thema-main;
  border: 1px solid $thema-main;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  &--text{
    color: $colorWhite01;
    text-align: center;
  }
}
