.btn {
  border: none;
  border-radius: 5px;
  padding: 4px 16px;
  color: $colorWhite01;
  transition: background-color .25s;
  cursor: pointer;
}


.modal {
  &.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &-window {
    position: relative;
    background: $colorWhite01;
    border-radius: 4px;
    overflow-y: scroll;
    width: 80%;
  }

  &-content {
    padding: 10px 20px;
  }

  &-footer {
    padding: 10px;

    &--btnBlock {
      text-align: center;

      &Item {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }

  &--btn {
    @extend .button;
    display: block !important;
    margin:0 auto;
    background-color: $colorWhite01;
  }

  &--btn__delete {
    @extend .button;
    border-color: $btn-delete;
    background-color: $btn-delete;
  }

  &--btn__close{
    @extend .button;
    display: block !important;
    margin:0 auto;
    background-color: $colorWhite01;
    &::before{
      display: inline-block;
      padding-right: .5rem;
      vertical-align: middle;
      font-family: "Font Awesome 5 Free";
      font-size: 22px;
      font-weight: 900;
      content: "\F00D";
      color: $colorGray04;
      line-height: 0;
    }
  }

  &--close {
    font-size: 0;
    line-height: 0;
    margin-bottom: 0;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: .5rem;
    top: .5rem;
    &::before{
      display: block;
      font-family: "Font Awesome 5 Free";
      font-size: 22px;
      font-weight: 900;
      content: "\F00D";
      color: $colorGray04;
      line-height: 0;
    }
    &:hover{
      opacity: .8;
    }
    &:focus{
      outline: none;
    }
  }
}

// オーバーレイのトランジション
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s;

  // オーバーレイに包含されているモーダルウィンドウのトランジション
  .modal-window {
    transition: opacity 0.4s, transform 0.4s;
  }
}

// ディレイを付けるとモーダルウィンドウが消えた後にオーバーレイが消える
.modal-leave-active {
  transition: opacity 0.6s ease 0.4s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;

  .modal-window {
    opacity: 0;
    transform: translateY(-20px);
  }
}
