.pagination {
  text-align: right;
  &--btn{
    display: inline-block;
    line-height: 0;
    font-size: 0;
    &__prev {
      margin: 0 0 0 2rem;
      &::before {
        content: "\f100";
        font-family: $fontAwesom;
        font-weight: 900;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1;
      }
    }

    &__next {
      margin: 0 0 2rem 0;
      &::before {
        content: "\f101";
        font-family: $fontAwesom;
        font-weight: 900;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 1;
      }
    }
  }
  &:hover{
    opacity: .7;
  }
}
