.photo-detail {
  $component: &;
  display: flex;
  justify-content: space-between;

  &--column {
    flex-direction: column;

    #{$component}__pane {
      width: 100%;
    }

    #{$component}__image {
      cursor: zoom-out;
    }
  }

  &__pane {
    width: 49%;
    line-height: 1;
  }

  &__image {
    cursor: zoom-in;
    margin-bottom: 1.5rem;

    &--author {
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 1.2;
    }
  }

  &__title {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    color: $colorGray07;
    border-bottom: 1px solid $colorGray02;
    &::before{
      display: inline-block;
      content: "\f086";
      font-family: $fontAwesom;
      font-weight: 400;
      font-size: 13px;
      font-size: 1.3rem;
      margin-right: 0.5em;
      color: $colorGray05;
    }
  }

  &__commentYet{
    margin: 2rem 0;
  }

  &__comments {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__commentItem {
    border-bottom: 1px solid $colorGray09;
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
  }

  &__commentBody {
    margin: 0 0 1rem 0;
  }

  &__commentInfo {
    color: $colorGray04;
    margin: 0;
    text-align: right;
    font-size: 12px;
    font-size: 1.2rem;
  }
}
