.photo-form {
  background: $colorWhite01;
  border-radius: .25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
  max-height: 95vh;
  max-width: 600px;
  overflow: scroll;
  padding: 1.5rem;
  width: 90%;
  &--title{
    font-size: 20px;
    font-size: 2rem;
    padding-bottom: .25rem;
    margin: 0 0 2.5rem 0;
    text-align: center;
    border-bottom: 1px solid $colorGray02;
  }
  &--img{
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}
