@charset "UTF-8";
/** * Reset CSS * **/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color:$base-font;
  font-family: #{$font-family-sans-serif};
  font-weight: 300;
  font-style: normal;
}
html, body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
// form
input, textarea, button{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

// table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// images
img{
  max-width: 100%;
}

// Link
a:link,
a:visited,
a:hover{
  color: #{$link};
}
a:link,
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

a:focus {outline: none;}



