.tab {
  display: flex;
  margin-bottom: 3rem;
  padding: 0;
  flex-flow: row nowrap;
  justify-content: center;

  &__item {
    width: calc(50% - .7rem);
    border-bottom: 2px solid $colorGray09;
    color: $colorGray02;
    cursor: pointer;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0 0.7rem 0 0;
    padding: 0.5rem;
    text-align: center;
    &:last-child{
      margin: 0 0 0 0.7rem;
    }
    &--active {
      border-bottom: 2px solid $colorBlack02;
      color: $colorBlack02;
    }
  }
}
