<template>
  <div class="container--small">
    <ul class="tab">
      <li v-bind:class="{ 'tab__item--active': tab === 1 }" @click="tab = 1" class="tab__item">
        Login
      </li>
      <li v-bind:class="{ 'tab__item--active': tab === 2 }" @click="tab = 2" class="tab__item">
        Sign up
      </li>
    </ul>
    <section v-show="tab === 1" class="panel">
      <form @submit.prevent="login" class="form">
        <div v-if="loginErrors" class="errors">
          <ul v-if="loginErrors.email">
            <li v-for="msg in loginErrors.email" v-bind:key="msg">{{ msg }}</li>
          </ul>
          <ul v-if="loginErrors.password">
            <li v-for="msg in loginErrors.password" v-bind:key="msg">{{ msg }}</li>
          </ul>
        </div>
        <ul class="formList">
          <li class="formList--item">
            <label class="form__label" for="login-email">Email</label>
            <input id="login-email" v-model="loginForm.email" type="text" class="form__inputItem" />
          </li>
          <li class="formList--item">
            <label class="form__label" for="login-password">Password</label>
            <input id="login-password" v-model="loginForm.password" type="password" class="form__inputItem" />
          </li>
        </ul>
        <div class="form__button">
          <button type="submit" class="button button--inverse">Login</button>
        </div>
      </form>
    </section>
    <section v-show="tab === 2" class="panel">
      <form @submit.prevent="register" class="form">
        <div v-if="registerErrors" class="errors">
          <ul v-if="registerErrors.name">
            <li v-for="msg in registerErrors.name" v-bind:key="msg">{{ msg }}</li>
          </ul>
          <ul v-if="registerErrors.email">
            <li v-for="msg in registerErrors.email" v-bind:key="msg">{{ msg }}</li>
          </ul>
          <ul v-if="registerErrors.password">
            <li v-for="msg in registerErrors.password" v-bind:key="msg">{{ msg }}</li>
          </ul>
        </div>
        <ul class="formList">
          <li class="formList--item">
            <label class="form__label" for="username">Name</label>
            <input id="username" v-model="registerForm.name" type="text" class="form__inputItem" />
          </li>
          <li class="formList--item">
            <label class="form__label" for="email">Email</label>
            <input id="email" v-model="registerForm.email" type="text" class="form__inputItem" />
          </li>
          <li class="formList--item">
            <label class="form__label" for="password">Password</label>
            <input id="password" v-model="registerForm.password" type="password" class="form__inputItem" />
          </li>
          <li class="formList--item">
            <label class="form__label" for="password-confirmation">Password (confirm)</label>
            <input id="password-confirmation" v-model="registerForm.password_confirmation" type="password" class="form__inputItem" />
          </li>
        </ul>
        <div class="form__button">
          <button type="submit" class="button button--inverse">Sign up</button>
        </div>
      </form>
    </section>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      tab: 1,
      loginForm: {
        email: '',
        password: ''
      },
      registerForm: {
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
    };
  },
  computed: {
    ...mapState({
      apiStatus: state => state.auth.apiStatus,
      loginErrors: state => state.auth.loginErrorMessages,
      registerErrors: state => state.auth.registerErrorMessages
    })
  },
  created() {
    this.clearError();
  },
  methods: {
    async login() {
      //authストアのloginアクションを呼び出す
      await this.$store.dispatch('auth/login', this.loginForm);
      if (this.apiStatus) {
        //apiStatus が成功（true）だった場合のみトップページに移動
        this.$router.push('/');
      }
    },
    async register() {
      //authストアのregisterアクションを呼び出す
      await this.$store.dispatch('auth/register', this.registerForm);

      //トップページに移動する
      if (this.apiStatus) {
        this.$router.push('/');
      }
    },
    clearError() {
      this.$store.commit('auth/setLoginErrorMessages', null);
      this.$store.commit('auth/setRegisterErrorMessages', null);
    }
  }
};
</script>
