<template>
  <div class="photo-list">
    <div class="grid">
      <Photo v-for="photo in photos" v-bind:key="photo.id" v-bind:item="photo" @like="onLikeClick" class="grid__item" />
    </div>
    <Pagination v-bind:current-page="currentPage" v-bind:last-page="lastPage" />
    <Modal @close="closeModal" v-if="showModal">
      <p class="text-center mt20">If you'd like push a like button, You need to login.</p>
      <template slot="footer">
        <button @click="closeModal()" class="modal--btn__close mb20">close</button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { OK } from '../util';
import Photo from '../components/Photo.vue';
import Pagination from '../components/Pagination.vue';
import Modal from '../components/MessageModal.vue';
import Axios from 'axios';

export default {
  components: {
    Photo,
    Pagination,
    Modal
  },
  props: {
    page: {
      type: Number,
      required: false,
      default: 1
    }
  },
  data() {
    return {
      photos: [],
      currentPage: 0,
      lastPage: 0,
      showModal: false
    };
  },
  watch: {
    $route: {
      async handler() {
        await this.fetchPhotos();
      },
      immediate: true
    }
  },
  methods: {
    async fetchPhotos() {
      const response = await Axios.get(`/api/pictures/?page=${this.page}`);
      if (response.status !== OK) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }
      this.photos = response.data.data;
      this.currentPage = response.data.current_page;
      this.lastPage = response.data.last_page;
    },
    onLikeClick({ id, liked }) {
      if (!this.$store.getters['auth/check']) {
        this.openModal();
        return false;
      }
      if (liked) {
        this.unlike(id);
      } else {
        this.like(id);
      }
    },
    async like(id) {
      const response = await Axios.put(`/api/pictures/${id}/like`);

      if (response.status !== OK) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }

      this.photos = this.photos.map(photo => {
        if (photo.id === response.data.picture_id) {
          photo.likes_count += 1;
          photo.liked_by_user = true;
        }
        return photo;
      });
    },
    async unlike(id) {
      const response = await Axios.delete(`/api/pictures/${id}/like`);

      if (response.status !== OK) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }

      this.photos = this.photos.map(photo => {
        if (photo.id === response.data.picture_id) {
          photo.likes_count -= 1;
          photo.liked_by_user = false;
        }
        return photo;
      });
    },
    openModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>
