<template>
  <div v-if="picture" v-bind:class="{ 'photo-detail--column': fullWidth }" class="photo-detail">
    <figure @click="fullWidth = !fullWidth" class="photo-detail__pane photo-detail__image">
      <img v-bind:src="picture.url" alt="" />
      <figcaption class="photo-detail__image--author">Posted by {{ picture.owner.name }}</figcaption>
    </figure>
    <div class="photo-detail__pane">
      <button v-bind:class="{ 'button--liked': picture.liked_by_user }" @click="onLikeClick" class="button button--like" title="Like photo">{{ picture.likes_count }}</button>
      <a :href="`/pictures/${picture.id}/download`" title="Download Photo" class="button button--downLoad">Download</a>
      <h2 class="photo-detail__title"><i class="icon ion-md-chatboxes"></i>Comments</h2>
      <form v-if="isLogin" @submit.prevent="addComment" class="form">
        <div v-if="commentErrors" class="errors">
          <ul v-if="commentErrors.content">
            <li v-for="msg in commentErrors.content" :key="msg">{{ msg }}</li>
          </ul>
        </div>
        <textarea v-model="commentContent" class="form--textArea"></textarea>
        <div class="form__button form__commentBtn">
          <button type="submit" class="button button--inverse button--submit">Comment</button>
        </div>
      </form>
      <ul v-if="picture.comments.length > 0" class="photo-detail__comments">
        <li v-for="comment in picture.comments" v-bind:key="comment.content" class="photo-detail__commentItem">
          <p class="photo-detail__commentBody">{{ comment.content }}</p>
          <p class="photo-detail__commentInfo">{{ comment.author.name }}</p>
        </li>
      </ul>
      <p v-else class="photo-detail__commentYet">No comments yet.</p>
    </div>
    <Modal @close="closeModal" v-if="showModal">
      <p class="text-center mt20">If you'd like push a like button, You need to login.</p>
      <template slot="footer">
        <button @click="closeModal()" class="modal--btn__close mb20">close</button>
      </template>
    </Modal>
  </div>
</template>
<script>
import Modal from '../components/MessageModal.vue';
import { OK, CREATED, UNPROCESSABLE_ENTITY } from '../util';
import Axios from 'axios';

export default {
  components: {
    Modal
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      picture: null,
      commentContent: '',
      commentErrors: null,
      fullWidth: false,
      showModal: false
    };
  },
  computed: {
    isLogin() {
      return this.$store.getters['auth/check'];
    }
  },
  watch: {
    $route: {
      async handler() {
        await this.fetchPicture();
      },
      immediate: true
    }
  },
  methods: {
    async fetchPicture() {
      const response = await Axios.get(`/api/pictures/${this.id}`);
      if (response.status !== OK) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }
      this.picture = response.data;
    },
    async addComment() {
      const response = await Axios.post(`/api/pictures/${this.id}/comments`, {
        content: this.commentContent
      });
      // バリデーションエラー
      if (response.status === UNPROCESSABLE_ENTITY) {
        this.commentErrors = response.data.errors;
        return false;
      }
      this.commentContent = '';
      // エラーメッセージをクリア
      this.commentErrors = null;

      // その他のエラー
      if (response.status !== CREATED) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }
      this.$set(this.picture, 'comments', [response.data, ...this.picture.comments]);
    },
    onLikeClick() {
      if (!this.isLogin) {
        this.openModal();
        return false;
      }
      if (this.picture.liked_by_user) {
        this.unlike();
      } else {
        this.like();
      }
    },
    async like() {
      const response = await Axios.put(`/api/pictures/${this.id}/like`);

      if (response.status !== OK) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }

      this.$set(this.picture, 'likes_count', this.picture.likes_count + 1);
      this.$set(this.picture, 'liked_by_user', true);
    },
    async unlike() {
      const response = await Axios.delete(`/api/pictures/${this.id}/like`);

      if (response.status !== OK) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }

      this.$set(this.picture, 'likes_count', this.picture.likes_count - 1);
      this.$set(this.picture, 'liked_by_user', false);
    },
    openModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>
