<template>
  <footer id="footer">
    <ul class="footer--feuture">
      <li class="footer--feutureItem">
        <a href="https://gitlab.com/Blueray777/share-with-photograph-app" target="_blank" class="footer--feutureLink"><i class="fab fa-gitlab icon"></i>GitLab</a>
      </li>
    </ul>
    <ul class="footer--module">
      <li v-if="isLogin" class="footer--moduleItem">
        <button @click="logout" class="button button__white button--link">Logout</button>
      </li>
      <li v-else class="footer--moduleItem">
        <RouterLink class="button button__white button--link" to="/login">
          Login
        </RouterLink>
      </li>
      <li v-if="!isLogin" class="footer--moduleItem">
        <RouterLink class="button button--signUp" to="/login">
          Sign up
        </RouterLink>
      </li>
    </ul>
  </footer>
</template>
<script>
import { mapState, mapGetters } from 'vuex';
export default {
  computed: {
    ...mapState({
      apiStatus: state => state.auth.apiStatus
    }),
    ...mapGetters({
      isLogin: 'auth/check'
    })
  },
  methods: {
    async logout() {
      await this.$store.dispatch('auth/logout');
      if (this.apiStatus) {
        this.$router.push('/login');
      }
    }
  }
};
</script>
