<template>
  <header id="header">
    <h1 class="header--hedding"><RouterLink to="/">Auspicious!</RouterLink></h1>
    <ul class="header--module">
      <li v-if="isLogin" class="header--moduleItem header--moduleItem__btn">
        <button @click="showForm = !showForm" title="Submit a photo" class="header--UpBtn button button__white button--link"></button>
      </li>
      <li v-if="isLogin" class="header--moduleItem">{{ username }}</li>
      <li v-if="isLogin" class="header--moduleItem"><button @click="logout" class="button button__white button--link">Logout</button></li>
      <li v-if="!isLogin" class="header--moduleItem"><RouterLink class="button button__white button--link" to="/login">Login</RouterLink></li>
      <li v-if="!isLogin" class="header--moduleItem header--moduleItem__btn"><RouterLink class="button button--signUp" to="/login">Sign up</RouterLink></li>
    </ul>
    <PhotoForm v-model="showForm" @child-event="close" />
  </header>
</template>
<script>
import PhotoForm from './PhotoForm.vue';
export default {
  components: {
    PhotoForm
  },
  data() {
    return {
      showForm: false
    };
  },
  computed: {
    isLogin() {
      return this.$store.getters['auth/check'];
    },
    username() {
      return this.$store.getters['auth/username'];
    }
  },
  methods: {
    async logout() {
      await this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    },
    closeModal() {
      this.showForm = false;
    },
    close: function() {
      this.closeModal();
    }
  }
};
</script>
