<template>
  <!-- <div class="mainVisual" v-if="$route.path === '/'"> -->
    <div id="mainVisual" v-if="hasMainVisual">
      <h2 class="mainVisual--wrap">
      <router-link v-bind:to="`/pictures/${mainVisualPhotoId}`" class="mainVisual--wrapIn">
        <img v-bind:src="mainVisualPhoto" v-bind:alt="`Photo by ${mainVisualAuthor}`" class="mainVisual--img" />
        <span class="mainVisual--author">Photo by {{ mainVisualAuthor }}</span>
      </router-link>
      </h2>
    </div>
    <div id="mainVisual" v-else>
      <h2 class="mainVisual--wrap">
        <div class="mainVisual--wrapIn">
          <img src="img/key_v.jpg" class="mainVisual--img" />
          <span class="mainVisual--author"></span>
        </div>
      </h2>
    </div>
  <!-- </div> -->
</template>

<script>
import Axios from 'axios';

export default {
  data() {
    return {
      photosTopTen: [],
      mainVisualPhotoId: '',
      mainVisualPhoto: '',
      mainVisualAuthor: '',
      hasMainVisual: false
    };
  },
  watch: {
    $route: {
      async handler() {
        await this.mainVisual();
      },
      immediate: true
    }
  },
  methods: {
    async mainVisual() {
      // index.htmlに表示させるメインビジュアル
      const response = await Axios.get(`/api/likesCount`);
      this.photosTopTen = response.data;
      let photosTopTenlen = this.photosTopTen.length;
      if (photosTopTenlen > 0) {
        this.hasMainVisual = true;
        let photoUrl;
        let photoId;
        let userName;
        let value;
        let photoObj = [];
        for (let i = 0; i < photosTopTenlen; i++) {
          photoId = this.photosTopTen[i].picture_id;
          photoUrl = this.photosTopTen[i].filename;
          userName = this.photosTopTen[i].name;
          value = [photoId, photoUrl, userName];
          photoObj.push(value);
        }
        const idx = Math.floor(Math.random() * photoObj.length);
        this.mainVisualPhotoId = photoObj[idx][0];
        this.mainVisualPhoto = photoObj[idx][1];
        this.mainVisualAuthor = photoObj[idx][2];
      } else {
        this.hasMainVisual = false;
      }
      
    }
  }
};
</script>
