<template>
  <div v-show="message" class="message">
    <p class="message--text">{{ message }}</p>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      message: state => state.message.content
    })
  }
};
</script>
