<template>
  <div class="pagination">
    <ul v-if="$route.path === '/'">
      <li v-if="!isFirstPage"><router-link v-bind:to="`/?page=${currentPage - 1}`" class="pagination--btn pagination--btn__prev" title="prev">prev</router-link></li>
      <li v-if="!isLastPage"><router-link v-bind:to="`/?page=${currentPage + 1}`" class="pagination--btn pagination--btn__next" title="next">next</router-link></li>
    </ul>
    <ul v-if="$route.path === '/pictures/'">
      <li v-if="!isFirstPage"><router-link v-bind:to="`/pictures/?page=${currentPage - 1}`" class="pagination--btn pagination--btn__prev" title="prev">prev</router-link></li>
      <li v-if="!isLastPage"><router-link v-bind:to="`/pictures/?page=${currentPage + 1}`" class="pagination--btn pagination--btn__next" title="next">next</router-link></li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    currentPage: {
      type: Number,
      required: true
    },
    lastPage: {
      type: Number,
      required: true
    }
  },
  computed: {
    isFirstPage() {
      return this.currentPage === 1;
    },
    isLastPage() {
      return this.currentPage === this.lastPage;
    }
  }
};
</script>
