<template>
  <div class="photo">
    <figure class="photo__wrapper">
      <img ref="image" v-bind:class="imageClass" v-bind:src="item.url" v-bind:alt="`Photo by ${item.owner.name}`" @load="setAspectRatio" class="photo__image" />
    </figure>
    <router-link v-bind:to="`/pictures/${item.id}`" v-bind:title="`View the photo by ${item.owner.name}`" class="photo__overlay">
      <div class="photo__controls">
        <button v-bind:class="{ 'photo__action--liked': item.liked_by_user }" @click.prevent="like" class="photo__action photo__action--like" title="Like Picture">{{ item.likes_count }}</button>
        <a @click.stop :href="`/pictures/${item.id}/download`" class="photo__action photo__action--download" title="Download photo"><i class="fas fa-download"></i></a>
      </div>
      <p class="photo__username">{{ item.owner.name }}</p>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      landscape: false,
      portrait: false
    };
  },
  computed: {
    imageClass() {
      return {
        // 横長クラス
        'photo__image--landscape': this.landscape,
        // 縦長クラス
        'photo__image--portrait': this.portrait
      };
    }
  },
  watch: {
    $route() {
      // ページが切り替わってから画像が読み込まれるまでの間に
      // 前のページの同じ位置にあった画像の表示が残ってしまうことを防ぐ
      this.landscape = false;
      this.portrait = false;
    }
  },
  methods: {
    setAspectRatio() {
      if (!this.$refs.image) {
        return false;
      }
      const height = this.$refs.image.clientHeight;
      const width = this.$refs.image.clientWidth;
      // 縦横比率 3:4 よりも横長の画像
      this.landscape = height / width <= 0.75;
      // 横長でなければ縦長
      this.portrait = !this.landscape;
    },
    like() {
      this.$emit('like', {
        id: this.item.id,
        liked: this.item.liked_by_user
      });
    }
  }
};
</script>
