<template>
  <transition name="modal" appear>
    <div v-show="value" @click.self="closeFunc" class="modal modal-overlay">
      <div class="modal-window photo-form">
        <div class="modal-content">
          <button @click="closeFunc" class="modal--close">close</button>
          <h2 class="photo-form--title">Submit a photo</h2>
          <div v-show="loading" class="panel">
            <Loader>Sending your photo...</Loader>
          </div>
          <form v-show="!loading" @submit.prevent="submit" class="form">
            <div v-if="errors" class="errors">
              <ul v-if="errors.picture">
                <li v-for="msg in errors.picture" v-bind:key="msg">{{ msg }}</li>
              </ul>
            </div>
            <ul class="formList">
              <li class="formList--item">
                <input @change="onFileChange" type="file" class="display-none" id="input-file" />
                <label for="input-file" class="form--fileUp">Choose a photo</label>
                <span v-if="showFilename" class="form--fileName">{{ fileName }}</span>
                <span v-else-if="!showFilename" class="form--fileName">Not Chosen</span>
              </li>
            </ul>
            <div class="form__output">
              <output v-if="preview" class="form__output__Item">
                <img v-bind:src="preview" alt="" class="photo-form--img" />
              </output>
            </div>
            <div class="form__button mt15">
              <button type="submit" class="button button--inverse button--submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Axios from 'axios';
import { UNPROCESSABLE_ENTITY, CREATED } from '../util';
import Loader from './Loader.vue';
export default {
  components: {
    Loader
  },
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      preview: null,
      picture: null,
      errors: null,
      showFilename: false,
      fileName: null
    };
  },
  methods: {
    // emit
    closeFunc: function() {
      this.$emit('child-event');
      this.reset();
    },
    // フォームでファイルが選択されたら実行される
    onFileChange(event) {
      // 何も選択されていなかったら処理中断
      if (event.target.files.length === 0) {
        this.reset();
        return false;
      }
      // ファイルが画像ではなかったら処理中断
      if (!event.target.files[0].type.match('image.*')) {
        this.reset();
        return false;
      }

      // FileReaderクラスのインスタンスを取得
      const reader = new FileReader();

      // ファイルを読み込み終わったタイミングで実行する処理
      reader.onload = e => {
        // previewに読み込み結果（データURL）を代入する
        // previewに値が入ると<output>につけたv-ifがtrueと判定される
        // また<output>内部の<img>のsrc属性はpreviewの値を参照しているので
        // 結果として画像が表示される
        this.preview = e.target.result;
        this.showFilename = true;
      };

      // ファイルを読み込む
      // 読み込まれたファイルはデータURL形式で受け取れる（上記onload参照）
      reader.readAsDataURL(event.target.files[0]);

      this.picture = event.target.files[0];
      this.fileName = this.picture.name;
    },
    reset() {
      this.preview = '';
      this.picture = null;
      this.showFilename = false;
      this.fileName = null;
      this.$el.querySelector('input[type="file"]').value = null;
    },
    async submit() {
      this.loading = true;
      const formData = new FormData();
      formData.append('picture', this.picture);
      const response = await Axios.post('/api/pictures', formData);
      const pictureName = response.data.url;

      this.loading = false;

      // バリデーションエラー処理
      if (response.status === UNPROCESSABLE_ENTITY) {
        this.errors = response.data.errors;
        return false;
      }

      this.reset();
      this.showFilename = false;
      this.fileName = null;
      this.$emit('input', false);

      if (response.status !== CREATED) {
        this.$store.commit('error/setCode', response.status);
        return false;
      }

      // メッセージ登録
      this.$store.commit('message/setContent', {
        content: 'The photo submission was successful!!!',
        timeout: 6000
      });
      // 写真詳細ページに遷移させるため、ファイルネームを抽出しrouterにセットする
      //const photoId = pictureName.match('.+/(.+?)\.[a-z]+([\?#;].*)?$')[1];
      const photoId = pictureName.match('.+/(.+?).[a-z]+([?#;].*)?$')[1];
      this.$router.push(`/pictures/${photoId}`);
    }
  }
};
</script>
